/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

body {
    background-image: url("resources/images/background.jpg");
    background-color: #cccccc;
    background-size: cover;
}

#logo{
    max-width: 50px;
    max-length: 50px;
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.top-buffer{
    margin-top: 300px;
}

.top-buffer-2{
    margin-top: 100px;
}

.customFade.ng-hide {
    opacity: 0;
}

.customFade.ng-hide-remove,
.customFade.ng-hide-add {
    display: block !important;
}

.customFade.ng-hide-remove {
    transition: all linear 300ms;
}

.customFade.ng-hide-add {
    transition: all linear 300ms;
}

.slideUp {
    transition: .1s linear all;
    height: 100px;
    overflow: hidden;
}
.slideUp.ng-hide {
    height:0;
}

.slideUp2 {
    transition: .1s linear all;
    overflow: hidden;
}
.slideUp.ng-hide {
    height:0;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
}
th,
td {
    padding: 6px 15px;
}
th {
    background: #42444e;
    color: #fff;
    text-align: left;
}
tr:first-child th:first-child {
    border-top-left-radius: 6px;
}
tr:first-child th:last-child {
    border-top-right-radius: 6px;
}
td {
    border-right: 1px solid #c6c9cc;
    border-bottom: 1px solid #c6c9cc;
}
td:first-child {
    border-left: 1px solid #c6c9cc;
}
tr:nth-child(even) td {
    background: #eaeaed;
}

tr:nth-child(odd) td {
    background: #eaeaed;
}
tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}
tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
}